@inject IViewCategoriesUseCase ViewCategoriesUseCase
@inject IViewProductsByCategoryIdUseCase ViewProductsByCategoryIdUseCase


<div class="form-group">
    <label for="categoryId">Category</label>
    <select id="categoryId" @bind="SelectedCategoryId" class="form-select">
        <option selected></option>
        @foreach (var cat in _categories)
        {
            <option value="@cat.CategoryId">@cat.Name</option>
        }
    </select>
</div>
@if (_productsInCategory != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Qty Left</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in _productsInCategory)
            {
                <tr @onclick="@(()=>OnSelectProduct(prod))"
            style="cursor:pointer; @trClass(prod)" >
                    <td>@prod.Name</td>
                    <td>@prod.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public EventCallback<Product> OnProductSelected{ get; set; }

    private int selectedCategoryId;
    private int _selectedProductId;

    string trClass(Product product) => product.ProductId == _selectedProductId ? "background-color:beige" : "";

    public int SelectedCategoryId
    {
        get
        {
            return selectedCategoryId;
        }
        set
        {
            selectedCategoryId = value;
            _productsInCategory = ViewProductsByCategoryIdUseCase.Execute(selectedCategoryId);
            OnSelectProduct(null);
            StateHasChanged();
        }
    }
    private IEnumerable<Product> _productsInCategory;
    private IEnumerable<Category> _categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _categories = ViewCategoriesUseCase.Execute();
    }
    private void OnSelectProduct(Product product)
    {
        OnProductSelected.InvokeAsync(product);
        if (product != null)
        {
            _selectedProductId = product.ProductId;
        }
        
    }
}
